@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
a:active, a {
	text-decoration:none;
	color:#000;
}
ul {
	list-style-type:none;
}
html {
	background:url(../images/bg.gif) repeat-x #b5d5e4;
}
body {
	background:url(../images/header.jpg) no-repeat center top;
	font:12px "微软雅黑", "宋体", Arial;
}
#container {
	width:1000px;
	margin:0 auto;
}
#header {
	height:139px;
}
#contentwrap {
	background:#fff;
	width:980px;
	padding:10px;
}
/*导航条*/
#nav {
	background:url(../images/navbg.png) repeat-x;
	height: 77px;
}
#navMenu {
	overflow:hidden;
}
#navMenu li {
	float: left;
	line-height: 34px;
	height: 34px;
	background:url(../images/header_interval.png) no-repeat 0 center;
}
#navMenu li a {
	font-size: 14px;
	color: #FFF;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 2px;
	display: block;
}
#navMenu li a:hover, #navMenu li.hover a {
	background: url(../images/header_hover.png) no-repeat center top;
}
/*导航条结束*/

/*搜索栏*/
.search {
	line-height:30px;
	height:30px;
	padding:10px 10px 5px 10px;
	border:1px solid #9fd1f6;
}
.form {
	float:left;
	margin-right:10px;
}
.form h4 {
	display:none;
}
.search-keyword {
	background:url(../images/search-bg.gif) no-repeat;
	width:160px;
	height:19px;
	padding-top:5px;
	padding-left:56px;
	border:0px;
}
.search-option {
	height:23px;
	margin:0 5px;
}
.search-bt {
	cursor:pointer;
	height:23px;
	width:56px;
	background:url(../images/btn-bg1.gif) no-repeat;
}
.search-bt, .search-keyword {
	border:none;
}
.hot-tags {
	width:500px;
	overflow:hidden;
}
.hot-tags h4 {
	float:left;
	margin-right: 6px;
	width:66px;
	height:26px;
	background:url(../images/search-tags-title.gif) center no-repeat;
	font-size:0px;
	color:#fafafa;
}
.hot-tags li {
	float:left;
	margin-right: 6px;
}
/*搜索栏结束*/
/*内容模块*/
#content {
	margin:20px 0;
	padding:5px;
	height:750px;/*测试用*/
	border:1px solid #9fd1f6;
}
/*左侧模块*/
#leftbar {
	margin-right:5px;
	width:284px;
	height:700px;
	float:left;
}
/*幻灯片展示*/
#slider {
	margin-bottom:10px;
	height:192px;
	border:2px solid #9fd1f6;
	position: relative; /* important */
	overflow: hidden; /* important */
}
#slider img {
	border:none;
}
#sliderContent {
	width: 270px; /* important to be same as image width or wider */
	position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
	float: left;
	position: relative;
	display: none;
}
.sliderImage span {
	position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
	padding: 0px 13px;
	height:30px;
	line-height:30px;
	width: 260px;
	background-color: #fe7200;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: #fff;
	display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
	font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
	left: 0;
}
/*幻灯片展示结束*/

.box {
	margin-bottom:10px;
}
.box dt {
	height:25px;
	border:1px solid #DFF2F5;
	overflow:hidden;
	clear:both;
	background:url(../images/boxbg.gif) 0 0 repeat-x;
	color:#397cbe;
	font-size:14px;
}
.box dd {
	border-left:1px solid #BFE0F9;
	border-right:1px solid #BFE0F9;
	border-bottom:1px solid #BFE0F9;
	padding:4px 4px 0px;
	overflow:hidden;
}
.box strong {
	height:26px;
	line-height:26px;
!important;
	line-height:27px;
	padding-left:22px;
	padding-right:4px;
	display:block;
	float:left;
	color:#397CBE;
	letter-spacing:1px;
}
.box ul {/* 后置时间日期的小列表 */
	padding:4px 0px;
}
.box li, .newsbox li {
	height:27px;
	line-height:27px;
	overflow:hidden;
	padding-left:16px;
	background:url(../images/list.gif) 6px 11px no-repeat;
}
.box li span {
	color:#777;
	float:right;
	padding-right:10px;
	margin-left:10px;
}
.box li a {
	overflow:hidden;
	color:#626262;
}
.box li a:hover {
	color:#333;
}
.box dt span.more {
	float:right;
	position:relative;
	line-height:26px;
	padding-right:8px;
	color:#397CBE;
}
.box dt span.more a {
	color:#397CBE;
	text-decoration:none;
}
.box dt span.more a:hover {
	color:#333;
}
.blog {
	background:url(../images/blogicon.png) 5px 6px no-repeat;
}
.notice {
	background:url(../images/noticeicon.png) 5px 6px no-repeat;
}
.links {
	background:url(../images/linkicon.png) 5px 6px no-repeat;
}
.login {
	background:url(../images/loginicon.png) 5px 6px no-repeat;
}
.link li {
	margin-right:15px;
	background:url(../images/links.png) center left no-repeat;
	float:left;
}
/*左侧模块结束*/

 
 /*内容模块*/
#centerbar {
	float:left;
	width:670px;
	height:700px;
}
/*正中文字内容*/
.maintext {
	float:left;
	width:420px;
	height:100%;
	border:1px solid #9fd1f6;
}
/*校友之星介绍*/
.matestar {
	overflow:hidden;
	padding:10px 6px;
	background:url(../images/headbg.gif) repeat-x;
	border-bottom:1px dashed #EBEBEB;
	color:#666;
}
.matestar h2 {
	text-align:center;
	display:block;
	height:32px;
	line-height:28px;
	color:#7ecef4;
}
.matestar h2 a {
	font-size:16px;
}
.matestar span {
	display:block;
	line-height:20px;
}
.matestar span strong {
	margin-left:20px;
	font-size:14px;
}
.matestar p {
	margin-top:10px;
}
.matestar p a {
	margin:0 10px;
}
.newsbox {
	margin-top:10px;
	background:url(../images/new-article.gif) no-repeat 0 10px;
}
.newsbox h2 {
	padding:8px 20px;
	font-weight:900;
	font-size:14px;
	color:#7fe426;
}
.newsbox ol {
	padding-left:10px;
}
/*正中文字内容结束*/
 /*右侧模块*/
 #rightbar {
	width:240px;
	float:right;
	height:100%;
	border:1px solid #9fd1f6;
}
.noborder {
	border:none;
}
fieldset {
	border:none;
	margin:10px 0;
}
fieldset span {
	float:left;
	width:60%;
 font-size:12px color:#666;
}
#rightbar input {
	padding:5px 5px;
	border:1px solid #0b8ed0;
	height:16px;
	width:70%;
}
#rightbar button {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	float:right;
	line-height:20px;
	background-color:#1096d5;
	padding:5px 15px;
	border:1px solid #055f8a;
	border-left:12px #055f8a solid;
}
button:hover {
	background-color:#009be5;
}
label {
	font-size:12px;
}
/*右侧模块结束*/
/*内容模块结束*/


/*友情链接模块结束*/
#footer {
	padding:40px 0px;
	margin:0 auto;
	background:url(../images/footerbg.png) center repeat-x;
	width:100%;
	text-align:center;
	color:#fff;
}
#footer a, #footer strong {
	padding:0 10px;
	color:#fff;
}
#footer a:hover {
	color:#eaeaea;
}
